.rpgui-content h2 {
    font-size: 1.7em !important;
    font-family: "MoveSans-Bold";
    display: flex;
    flex-direction: column;
    margin: 10px;
}

button.rpgui-button {
    align-items: center;
    text-align: center;
    justify-content: center;
}

button.rpgui-button h2 {
    margin: 0;
    font-size: 1em;
}