.music-player {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it is above other elements */
}

.music-player__sound-button {
    margin-top: 2rem;
    margin-left: 3rem;
    width: 2.5rem;
}

